page-favoritos-pasta {

    .square{
        position: relative;
        float: left;
        width: 150px;
        height: 150px;
        margin-left: 10px;
        margin-bottom: 10px;
      }

      .space{
        height: 30px;
      }

      .title {
        position: absute;
        top: 80%;
        font-size: 1.5em;
        width: 100%;
        color: #fff;
        margin-top: -40px;
        margin-left: 10px;
      }

      .header{
        position: absolute;
      }

}
