<ion-header>
  <ion-navbar>
    <ion-title>Destaques iPubli</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    
    <!-- Produtos Mais Acessados -->
    
    <h2 >Produtos Mais Acessados</h2>
    <ion-card *ngFor = "let produto of orderLikes() | slice:0:3"><!-- Limitar: *ngFor = "xxxxxx | slice:0:X"-->
        <img (click) = "goToTelaProdutoPage(produto)" [src]= "produto.images.standard_resolution.url"/>
        <ion-card-content>
            <ion-card-title>
               Likes: {{ produto.likes.count}}
            </ion-card-title>
        </ion-card-content>
    </ion-card>

    <!-- Marcas em Destaque -->
    <h2>Marcas em Destaque</h2>
    <ion-card>
        <img src="../assets/imgs/Tecshow.png"/>
        <ion-card-content>
            <ion-card-title>
                Tecshow
            </ion-card-title>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="../assets/imgs/aninas.jpg"/>
        <ion-card-content>
            <ion-card-title>
               Aninas
            </ion-card-title>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="../assets/imgs/variedades.jpg"/>
        <ion-card-content>
            <ion-card-title>
                Empresa de Variedades
            </ion-card-title>
        </ion-card-content>
    </ion-card>
</ion-content>
