page-tela-login {
    button.button.button-md.button-default.button-default-md.button-full.button-full-md.button-md-dark {
        background-color: #ff2c68;
    }
    button.disable-hover.button.button-md.button-default.button-default-md.button-small.button-small-md.button-md-dark {
        background-color: #fff;
        color: #000;
    }
}

