page-user {
    div.foto {
        min-width: 200px;
        min-height: 250px;
        max-width: 500px; 
        max-height: 550px;
        background: #66BB92;
        position: absolute;
        left: 22%;
        top: 8%;
    }
    div.quadro-nome {
        width: 240px;
        height: 90px;
        background: #bdb6b8;
        position: absolute;
        left: 60px;
        top: 225px;
        -webkit-box-shadow: 5px -9px 3px #000;
        box-shadow: 0px -1px 1px #000;
    }
    div.quadro-dados {
        width: 280px;
        height: 100px;
        background: #ff3366;
        position: absolute;
        left: 40px;
        top: 300px;
    }

    h1.nome {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h2.dados1 {
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
        color: #ffffff;
    }

    p.info-dados1{
        position: absolute;
        top: 60%;
        left: 20%;
        transform: translate(-50%, -50%);
        color: #ffffff;
    }

    h3.dados2 {
        position: absolute;
        top: 31%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
    }

    p.info-dados2{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
    }

    h4.dados3{
        position: absolute;
        font-size: 22px;
        top: 31%;
        left: 80%;
        transform: translate(-50%, -50%);
        color: #ffffff;
    }

    p.info-dados3{
        position: absolute;
        top: 60%;
        left: 80%;
        transform: translate(-50%, -50%);
        color: #ffffff;
    }            
}
