<ion-header>

  <ion-navbar>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="userid!=null">
    <div class="foto"></div>
    <div class="quadro-nome">
      <h1 class="nome">{{userdata.name}}</h1>
    </div>
    <div class="quadro-dados">
      <h2 class="dados1">10</h2>
      <p class="info-dados1">{{userdata.type}}</p>
      <h3 class="dados2">20</h3>
      <p class="info-dados2">Testei</p>
      <h4 class="dados3">30</h4>
      <p class="info-dados3">Seguindo</p>
    </div>
  </div>
  <div class="margem" *ngIf="userid!=null">
      <ion-card>
          <ion-list>
            <button ion-item (click)="abrirPastas()">
              <ion-icon name="folder-open" item-start color="primary"></ion-icon>
              <p class="titulo-menu">Pastas</p>
            </button>
        
            <button ion-item>
              <ion-icon name="cloud-upload" item-start color="primary"></ion-icon>
              <p class="titulo-menu">Upload de Foto Perfil</p>
            </button> 
            <button ion-item>
                <ion-icon name="settings" item-start color="primary"></ion-icon>
                <p class="titulo-menu">Configurações de Conta</p>
              </button>  
          </ion-list>
      </ion-card>
  </div>
  <div *ngIf="user!=null">Teste</div>
</ion-content>