page-login {
    ion-card img {
        display: block;
        margin-top: 5%;
        width: 40%;
        height: 60%;
        left: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .card-title {
        margin: 0px;
        width: 50%;
        height: 20%;
        font-size: 3rem;
        width: 50%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        box-shadow: none;
    }
    .card-md {
        margin: 0px;
        width: 50%;
        height: 20%;
        font-size: 3rem;
        background: #fff;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        box-shadow: none;
    }
    .centralizar {
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .button-outline-md {
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        color: #000;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-align: right;
        margin: 0;
    }
    
}
